[2014-09-23 23:47] colonelpanic8 opened #1 "Make interactive python executable for okcupyd"

[2014-09-23 23:47] colonelpanic8 opened #2 "python 2 compatibility"

[2014-09-24 10:55] colonelpanic8 opened #3 "iter on search manager."

[2014-09-24 10:57] #1 closed, assigned to nobody

[2014-09-24 10:57] #2 closed, assigned to nobody

[2014-09-24 23:32] colonelpanic8 opened #4 "fix gzipping in python3"

[2014-09-27 06:39] #4 closed, assigned to nobody

[2014-09-27 11:32] colonelpanic8 opened #6 "Looking For"
Add the ability to update and view the looking for portion of an okc profile.

[2014-09-27 11:32] colonelpanic8 opened #7 "Details"

[2014-09-27 19:23] nderkach opened #8 "Some POST requests (/questions/ask and /rate) don't work for some accounts"
Steps to reproduce.

[code]

Also, I've noted that `profile.refresh()` in profile_test.py seems to be redundant as you do a refresh in `rate()` itself.

Now, the rating seems to work most of the time, so I'm still trying to figure it out.

@IvanMalison could you explain how you calculate rating?

[code]

Shouldn't it be simply `width_percentage // 20`? And in case you have widths more than 100, yo

[2014-09-29 22:37] colonelpanic8 opened #10 "Question Parsing"

[2014-09-29 22:37] colonelpanic8 opened #11 "Profile clone"

[2014-10-01 01:19] githubokc opened #12 "Instantiating user class in ipython notebook"
Simply running:

import okcupyd
u = okcupyd.User()

In an ipython notebook, or just a regular script does not throw any errors, and just seems to wait indefinitely. I've updated the credentials in the settings page. How does one run the library not in the interactive mode?

[2014-10-01 04:35] colonelpanic8 opened #13 "Delay is broken"
If you set it to anything other than 0 it causes problems.

[2014-10-01 04:44] colonelpanic8 opened #14 "make SearchManager a fetchable or expose some type of fetchable for search"

[2014-10-01 06:26] colonelpanic8 opened #15 "Add response selectivity to profile"

[2014-10-01 06:27] #13 closed, assigned to nobody

[2014-10-01 06:28] #3 closed, assigned to nobody

[2014-10-01 08:23] colonelpanic8 opened #16 "Use sesssionmaker.configure instead of manual patching"

[2014-10-01 08:41] #16 closed, assigned to nobody

[2014-10-01 08:41] colonelpanic8 opened #17 "Sphinx docs"

[2014-10-01 08:42] colonelpanic8 opened #18 "nice reprs everywhere"

[2014-10-01 22:21] #12 closed, assigned to nobody

[2014-10-01 22:35] githubokc opened #19 "Return your own answer to a question, whether it was 'acceptable', etc."
Is there any way to currently return your own answers to a question, and whether or not it was listed as acceptable? If not, that could be very useful feature

[2014-10-01 22:53] #8 closed, assigned to colonelpanic8

[2014-10-01 23:01] #14 closed, assigned to nobody

[2014-10-01 23:01] #18 closed, assigned to nobody

[2014-10-01 23:05] githubokc opened #20 "HTTPError: 522 Server Error: Origin Connection Time-out"
When scraping takes a little while, the error appears.

Could this be related to not throttling any of the requests?

[2014-10-02 02:16] #19 closed, assigned to nobody

[2014-10-02 14:19] #20 closed, assigned to nobody

[2014-10-02 15:15] #10 closed, assigned to nobody

[2014-10-06 04:32] #15 closed, assigned to nobody

[2014-10-06 04:33] #6 closed, assigned to nobody

[2014-10-06 10:40] colonelpanic8 opened #21 "Get rid of trash code in magicnumbers.py"

[2014-10-07 09:30] #7 closed, assigned to nobody

[2014-10-08 10:44] #17 closed, assigned to nobody

[2014-10-08 10:44] #11 closed, assigned to nobody

[2014-10-08 19:33] colonelpanic8 opened #22 "Many search parameters are broken."

[2014-10-12 12:54] colonelpanic8 opened #23 "Make photo uploader stateless"

[2014-10-13 03:27] #21 closed, assigned to nobody

[2014-10-13 03:27] #22 closed, assigned to nobody

[2014-10-17 22:51] #23 closed, assigned to nobody

[2014-10-20 06:48] colonelpanic8 opened #24 "Make it so that automatic transaction methods are labeled with_txn"
...rather than having the no transaction methods labled no_txn. I.e. have no_txn be the default.

[2014-10-25 08:09] AngeloAdam opened #25 "logging in help?"
I didn't understand your instructions for logging in.

Can you please explain how to simply do this

in the settings.py file. which values do i changed? I tried changing  'OKC_USERNAME' and 'OKC_PASSWORD' but this didn't work.

[code]

[2014-10-25 09:06] #25 closed, assigned to nobody

[2014-10-29 03:26] colonelpanic8 opened #26 "Make it possible to access answer_id on both UserQuestion and Question"

[2014-10-31 23:40] #26 closed, assigned to colonelpanic8

[2014-11-02 09:06] colonelpanic8 opened #27 "Rating code might be failing after okcupid change to Like/Dislike"
This needs to be investigated.

[2014-11-02 09:17] colonelpanic8 opened #28 "IndexError: list index out of range when getting the id of a profile."
----> 1 p.rate(4)

/Users/imalison/Projects/okcupyd/okcupyd/profile.pyc in rate(self, rating)
    277         parameters = {
    278             'voterid': self._current_user_id,
--> 279             'target_userid': self.id,
    280             'type': 'vote',
    281             'cf': 'profile2',

/Users/imalison/Projects/okcupyd/okcupyd/util/**init**.pyc in **get**(self, obj, cls)
     47

[2014-11-06 10:16] #28 closed, assigned to nobody

[2014-11-06 10:20] #27 closed, assigned to nobody

[2014-11-13 22:34] chetmanley opened #30 "xpath.py => IndexError: list index out of range"
While attempting to do user.search(...), this error message pops up:

http://i.imgur.com/IyynVCO.png

[2014-11-14 00:39] #30 closed, assigned to nobody

[2014-11-29 02:53] mconigliaro opened #31 "Any way to tell a user you visited their profile?"
I didn't see a way to do this. I know this happens automatically for free accounts, but A-list members can browse anonymously and manually notify users that you visited their profiles. I guess a workaround for now is to just disable anonymous browsing.

[2014-11-30 04:05] mconigliaro opened #32 "Populate some user info from the search output to avoid unnecessary profile requests"
It looks like some user info is already available during a search (i.e. `username`, `age`, `location`, `match_percentage`, `enemy_percentage`) without making a request for the whole profile, but I didn't see a way to prevent the profile request. For example, in the code below...

[code]

It looks like by the time `p` is assigned, the profile request has already been made. It would be nice if some

[2014-12-01 19:31] colonelpanic8 opened #33 "Chat integration"
Add the ability to send chats and view old chat logs.

[2014-12-14 07:11] #32 closed, assigned to nobody

[2015-01-18 23:09] bitromantic opened #34 "Interface with OKCupid broken"
It appears changes at OKCupid have created problems with okcupyd interface with OKCupid. Attempts to search generate out-of-range errors. Here is the call tree when trying to run a test implementation of my okc automation script.

[code]

The change at OKCupid must have happened within the last two weeks, as the full automation script and this test worked fine not too long ago.

[2015-01-19 20:21] sagittarian commented on #34
I was also getting this last week, but just now all the profiles I had tried to access that the script barfed on with this error seem to be working fine, so it seems that okcupid reverted whatever change they had made.

[2015-01-19 20:29] IvanMalison commented on #34
@sagittarian Were you using search? I think that this should only happen when you are searching.

The relevant piece of code is:
[code]

So i guess the spot in the dom to look for is the new binary rating button. Maybe there are some cases where this attribute is on the button and others where it isn't?

[2015-01-19 23:23] sagittarian commented on #34
Nevermind, the error I was getting was different.  It just involved the same line in xpath.py.

I have been running searches this evening however and haven't had a problem.

[2015-01-19 23:25] IvanMalison commented on #34
yeah, that line in xpath will almost always be the last line in any traceback that results from a change in the structure of the okc DOM, so it really could be just about anything.

Do you have a traceback of the error you were getting? it is probably also an issue worth looking in to.

[2015-01-19 23:32] sagittarian commented on #34
The relevant part is here:
[code]
It was caused by an attempt to access profile.id.  As I said everything is working now however with no changes.

[2015-01-19 23:37] IvanMalison commented on #34
huh okay, let me know if you see it again. It could be something that only happens on certain profiles, so the target username would also be helpful

[2015-01-19 23:41] sagittarian commented on #34
I went back and accessed the same profiles in the same way and didn't get the problem, so it's really gone for now.  If I see it again and I'll you know.

[2015-01-19 23:47] IvanMalison opened #35 "KeyError: 'w' (new gender representation?)"
[code]

[2015-01-19 23:49] IvanMalison commented on #34
@sagittarian Did you say that search is working for you? I am getting the error that @bitromantic reported on my accounts.

[2015-01-19 23:55] #34 closed

[2015-01-21 14:50] jcea opened #36 "messages only fetch a line of content (fix in 6646abd doesn't work in python3)"
[code]

only fetches the first line of the message.

[2015-01-21 18:11] IvanMalison commented on #36
Thanks for reporting this. Can you give a sample message that doesn't work?

[2015-01-21 18:59] jcea commented on #36
Any message I test with multiple paragraphs. When I fetch the message only the first line is retrieved.

[2015-01-21 19:29] IvanMalison commented on #36
Yep. I pushed a fix to master. Can you test it. I think it might not handle trailing whitespace properly

[2015-01-21 19:43] jcea commented on #36
Ivan, I have patched my copy of "okcupyd" and I don't see any effect :-(. Still getting only the first line. :-?

[2015-01-21 21:15] IvanMalison commented on #36
Can setup.py install? How exactly did you patch?

[2015-01-21 22:37] jcea commented on #36
My mistake. I patched the version installed under Python 3.4. This code doesn't work under Python 3, by the way, althought it is documented in the PYPI page.

Doing "pip2.7 install -U okcupyd" I install version 0.8.17, released today. Same problem. I fetch only the first line of the messages :-(. In my case the paragraphs are separated by empty lines. Something like this:

[code]
Maybe this help y

[2015-01-21 22:40] IvanMalison commented on #36
I haven't done an okcupyd release with the fix for this problem yet. I did a release earlier today for another problem. What do you mean it doesn't work in python3? It works in python3 for me... all of the tests run is python3 as well.

[2015-01-21 22:41] IvanMalison commented on #34
@bitromantic This should now be fixed. Can you confirm?

[2015-01-21 22:56] jcea commented on #36
Forget the Python 3 issue for now. I was maybe having a dependency issue. Didn't investigate it.

Patching by hand.

Running in Python 3 I get this:

[code]

It seems to work under Python 2.7. GOOD!.

[2015-01-21 22:58] IvanMalison commented on #36
Yeah, I'll do a pypi release later in the day so you don't have to patch by hand. Did you check what happens with adding trailing whitespace? I guess that doesn't really matter much... okcupyd does some really strange stuff in general, so it may be hard to preserve the message exactly as sent.

[2015-01-21 23:11] jcea commented on #36
Good. Let me know when I can install the update (working in Python 3 too! :).

I can't do experiments now because the OKC mailbox is full at the moment. Dumping the messages to my laptop what the point of messing with this :). Sorry.

[2015-01-21 23:16] IvanMalison commented on #36
haha, cool. Are you using the built in sqlalchemy functionality for dumping the messages? you should check that out if you aren't.

You are right about python 3. there is a unicode error with the current implementation. I will do a release later today that works for both pythons.

[2015-01-21 23:18] jcea commented on #36
The code is:

[code]

[2015-01-21 23:25] IvanMalison commented on #36
syncing using the built in sqlalchemy database would be really easy:

Check out https://github.com/IvanMalison/okcupyd/blob/master/okcupyd/tasks/db.py#L3

you can run that using invoke:

Something like:
inv okcupyd.credentials (credentials_file) okcupyd.db.sync

should do exactly what you want.

This will store everything in a sqlite database, which you can then access with orm models like:
https:

[2015-01-21 23:35] jcea commented on #36
What happens if I delete messages and threads in OKC?. Are they preserved in the local dump?

[2015-01-21 23:36] IvanMalison commented on #36
I'd need to double check the code, but that is almost certainly what happens. I don't think that anything is ever deleted anywhere.

[2015-01-22 00:49] IvanMalison commented on #35
This should be fixed in the newest version. Not sure why this was encountered...

[2015-01-22 00:49] #35 closed

[2015-01-22 18:45] IvanMalison commented on #36
@jcea The new version on pypi has a patch that works for python 2 and 3. Let me know if it works for you.

[2015-01-22 18:45] #36 closed

[2015-01-22 19:01] jcea commented on #36
Looks good, both Python 2.7 and Python 3.4. Thanks.

[2015-01-24 09:24] sagittarian commented on #34
The problem I was getting (with profile.id) seems to have been related to a network issue on my end, nothing to do with changes at okcupid.  The reason that search was working for me was that I had fixed the code when my searches broke and forgot about it.

[2015-01-26 09:23] IvanMalison opened #43 "okc session should compose with, not inherit from requests.Session"

[2015-01-26 09:27] IvanMalison commented on #34
Cool. Definitely let me know if you have any other fixes that are lying around.

I'm thinking about trying to set up travis to run against the live site every so often, so I can find out when things break, but for now I only learn about breakages from the relatively small group of okcupyd users, since I havent been using okcupyd very actively as of late (since my ip has been banned and my account

[2015-01-26 09:52] #43 closed

[2015-01-27 08:08] IvanMalison opened #44 "Add request delay feature to session object"

[2015-01-28 00:21] IvanMalison opened #46 "test_mailbox_sync_integration is flaky"
My guess that this is an issue with vcrpy request matching, but I havent done any deep investigation.

[2015-01-28 06:50] IvanMalison commented on #31
@mconigliaro /anyone else who is interested in this feature. Can you test https://github.com/IvanMalison/okcupyd/tree/stalk_profile to make sure it works? It would be super cool if you could also record the vcrpy cassette that is used in testing for the test_stalk test.

This should simply amount to putting your credentials in the file test_credentials.py, and then run `inv r test_stalk`. Obviousl

[2015-03-02 22:11] chrism2671 commented on #31
I found that doing profile.gender() seems to create the request you desire (that is, appear in their visitor logs).

[2015-03-03 00:33] IvanMalison commented on #31
@chrism2671
- Don't you mean profile.gender?
- this will be true of any profile attribute, but only so long as invisible browsing is turned off. This is actually an unfortunate side effect of the way the libary works
- @mconigliaro is asking for a way to do this when you have invisible browsing turned on.

[2015-03-04 00:30] chrism2671 commented on #31
Ah my mistake!

Out of curiosity, why is this 'unfortunate'?

Incidentally, have you been banned by OKC yet? Just trying to understand what suitably conservative behaviour is.

[2015-03-04 12:43] IvanMalison commented on #31
@chrism2671 It's unfortunate because that it means that simply using this library with an unpaid account will result in lots of possibly unintended profile views. That is why i decided to delay the retrieval of profile information to the last possible moment.

Yes, as I mentioned above, all of the accounts, as well as my home IP address have been banned from okcupid. The behavior of some of my acc

[2015-03-08 23:07] hista opened #47 "UnicodeDecodeError with accentued username"
There is an issue with accentued usernames:

/usr/local/lib/python2.7/dist-packages/okcupyd/session.py:68: UnicodeWarning: Unicode unequal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  if log_in_name.lower() != username.lower():
Traceback (most recent call last):
  File "/usr/local/bin/okcupyd", line 9, in <module>
    load_entry_point('okcupyd==0.9.

[2015-03-09 05:08] IvanMalison commented on #31
@chrism2671if you could help test this feature I would really appreciate it. Do you have an a-list account?

[2015-03-23 18:16] chrism2671 opened #48 "Non-trivial set up in Ubuntu"
So the good news is, okcupyd worked perfectly for me in OSX Yosemite, installed via pip.

In Ubuntu 14.04 however, it's tricky. I've spent an hour or two fiddling with it and still no joy, with broken dependencies being the main issue.

Are there any suggestions for how best to install on Ubuntu?

Thanks!
Chris.

[2015-03-23 18:31] chrism2671 commented on #48
Oh, suddenly found the solution. I kept running into this bug (including in a clean install of Ubuntu), solution on that page works.

http://stackoverflow.com/questions/3373995/usr-bin-ld-cannot-find-lz

[2015-03-23 18:36] chrism2671 commented on #31
Sorry for the delay, been on holiday! I don't have an A-list account at the moment, but I might sign up for one in due course.

In my script, that involves visiting a lot of profiles repeatedly, I inserted:

    import random
    import time
    sleep_time = random.gauss(10,5)
    time.sleep(sleep_time)

between requests, which seemed to keep okc happy (for now).

[2015-03-23 19:26] IvanMalison commented on #48
I've actually encountered this issue before. It's really a problem with the installation of lxml, so I wasn't sure if it was appropriate to mention the issue in my readme, but I guess it can't hurt.

[2015-03-24 22:45] IvanMalison commented on #47
Sorry for the delay @hista. I'm taking a look at this now.

[2015-03-27 05:03] markyann11 opened #49 "how to search for those who you have not contacted?"
I see this part of the code in search.py but I dont know how to use it so I can only message people I have not messaged before.
    def contacted(self):
        return bool(xpb.div.with_class('fancydate').apply_(self._div))

[2015-03-27 05:28] IvanMalison commented on #49
I don't believe that it is possible to make search only return people that you haven't contacted, but it should be easy to perform some action only on those you havent contacted: as follows:

[code]

[2015-03-27 05:50] markyann11 commented on #49
@IvanMalison awesome thanks !

[2015-03-27 05:51] markyann11 opened #50 "how to flush the messages to a database ?"
when it hits the 300 messages, how can I move all the messages to a database (so I don't loose track of converastions) and clean the okcupid inbox?

[2015-03-27 05:51] markyann11 opened #51 "how can I run the script out of shell?"

[2015-03-27 05:51] #49 closed

[2015-03-27 05:53] markyann11 opened #52 "how to sort search result by distance or other things (last time online)?"

[2015-03-27 05:57] IvanMalison commented on #52
Have you checked out http://okcupyd.readthedocs.org/en/latest/ ?

see http://okcupyd.readthedocs.org/en/latest/public.html#searchfetchable for details about the arguments that you can pass to search to filter

A lot of these questions that you are asking are answered in the okcupyd docs. github issues aren't really the best way to ask questions like this. If you have specific questions that aren't

[2015-03-27 05:58] #52 closed

[2015-03-27 06:03] IvanMalison commented on #50
There is a db module in the okcupyd library that should help with this.

basically:

[code]

You will need to delete the messages separately.

[2015-03-27 06:03] #50 closed

[2015-03-27 06:04] IvanMalison commented on #51
What do you mean? Like how can you use it in your own python program?

[2015-03-27 06:44] markyann11 opened #53 "not profile.contacted returns false results"
u = okcupyd.User()
thread=u.outbox
for i in range(50):
    for p in profiles:
        if not p.contacted:
            print p.username

when I look at the results and copy paste the usernames to browser, the actual browser tells me, "contacted today" this causes some users receive duplicate messages from me

[2015-03-27 22:31] markyann11 commented on #51
for example let say I have a collection of commands that I type into the okcupyd shell ( I enter them manually)

I wanna put all of them in a shell script or python script, and just run them with one command ( I dont wanna copy paste my scripts to the shell) how can I do that ?

[2015-03-27 22:51] #51 closed

[2015-03-29 08:42] chrism2671 opened #54 "How does the distance/location filter work?"
I'm trying to build a search with e.g. distance = 100km of location = London, UK, just like on the website.

I can see the location parameter is an integer, so I'm guessing this is a distance. If so, where does the location string go, or is it some kind of location ID from OKC?

This is my current search.

    results = u.search(age_min=25, age_max=33,order_by='match', height_max=78)

[2015-03-30 07:36] IvanMalison commented on #54
http://okcupyd.readthedocs.org/en/latest/public.html#searchfetchable .
location – A location string which will be used to filter results.
radius (int) – The maximum distance from the specified location of returned search results.

[2015-03-30 11:13] chrism2671 commented on #54
Super, thank you!

[2015-03-30 11:13] #54 closed

[2015-03-30 19:50] IvanMalison commented on #53
okcupid probably changed their html slightly. I'll take a look at this soon

[2015-04-27 00:29] hista commented on #47
Hi Ivan,

Is this issue solved now?

Best regards

[2015-04-27 01:10] IvanMalison commented on #47
I think I did fix it but I haven't pushed it yet. Testing is sort of a pain for me right now because my ip address was blocked. Let me take a look.

[2015-05-18 05:42] markyann11 opened #55 "Doesnt work anymore since okcupid changed UI"

[2015-05-18 05:42] IvanMalison commented on #55
Everything? When did this happen?

[2015-05-18 05:51] markyann11 commented on #55
Somethings work, like deleting messages from inbox, but messaging people doesns't work.
Okcupid recently changed their user interface completely .

[2015-05-18 05:54] IvanMalison commented on #55
:( I was afraid something like that might happen. I'll look in to it and see how hard it will be to get things working again.

[2015-05-18 06:19] IvanMalison commented on #55
Hmmm. A lot of things still work for me. Can you help me a compile a list of things that aren't working?

[2015-05-18 06:20] IvanMalison commented on #55
I was able to reply to a message as well. How are you sending a message?

[2015-05-31 01:05] IvanMalison commented on #55
@markyann11 Things seem to be working for me. Can you clarify what your issues are? Can i close this issue?

[2015-06-26 19:49] Euphorbium opened #56 "Ability to change your answers"
Perhaps it is there, but I did not find it. It would be a nice feature to have.

[2015-06-26 20:38] Euphorbium commented on #56
Found it, it is Questions.respond method.

[2015-06-26 20:38] #56 closed

[2015-06-28 04:23] IvanMalison commented on #56
Yeah. Responding to a question is actually somewhat complicated. You probably want `respond_from_user_question` or `respond_from_question`. There is no method on Question on UserQuestion because those objects don't have session instances.

[2015-06-28 15:48] IvanMalison opened #57 "test_profile_titles fails in continuous integration"

[2015-06-28 15:48] #55 closed

[2015-06-29 14:41] dubiousjim opened #58 "some properties on detail have gone missing"
This seems to have happened only recently, perhaps in the past month or two, presumably because of changes in what OKCupid returns in response to requests. The problem is that for some profiles `p`, attempts to call for example `p.details.religion` will fail with an error about `p.details` having no such field. I've seen this also with the `education`, `sign`, `bodytype`, and `children` fields (an

[2015-06-29 14:48] dubiousjim commented on #31
Good to know they've started banning accounts. I was using 2-4 second delays between requests to profiles. This is a good motivation for [issue #44](https://github.com/IvanMalison/okcupyd/issues/44).

[2015-06-29 15:06] dubiousjim opened #59 "fetching looking_for.ages sometimes fails"
Changing line 34 of `looking_for.py` from:

    _ages_re = re.compile(u'Ages ([0-9]{1,3})\u2013([0-9]{1,3})')

to:

    _ages_re = re.compile(u' *Ages ([0-9]{1,3})\u2013([0-9]{1,3})')

seems to fix it.

[2015-06-29 15:07] dubiousjim commented on #59
I think OKCupid changed their html recently. This issue only showed up with a few profiles (out of 1000s).

[2015-06-29 15:11] dubiousjim opened #60 "fetchable.py PaginationProcessor sometimes fails with IndexError"
I'm not sure anymore how to reproduce this problem, I encountered it and patched it in my own installation a while back. But changing line 339 of `util/fetchable.py` from:

    return self._current_page(tree) < self._page_count(tree)

to:

    try:
        return self._current_page(tree) < self._page_count(tree)
    except IndexError:
        return False

fixed some exceptions I was encountering.

[2015-06-29 15:30] dubiousjim commented on #59
Also, I just now came across a profile where `p.looking_for.raw_fields['ages']` was `'  Age 41  '`. This can be accommodated by adding:

    _ages_re2 = re.compile(u' *Age ([0-9]{1,3})')

near the top of `looking_for.py`, and editing the definition of `ages` later in that file like this:

      def ages(self):
          """The age range that the user is interested in."""
          match = self._ag

[2015-06-29 15:55] IvanMalison commented on #59
Cool, nice finds. Do you have an example profile that this happens with

Do you want to make a pull request? I'm happy to fix things I guess if not, but it would be greatly appreciated.

[2015-06-29 15:58] IvanMalison commented on #60
Do you remember what type of fetchable this was happening with? The IndexError means that the html element is not being found at all.

[2015-06-29 16:00] IvanMalison commented on #58
Hmmm. Seems like this implementation might need to be made a bit more robust so we can detect these types of issues and provide less cryptic error messages.

Any example profiles would be extremely helpful.

[2015-06-29 16:07] dubiousjim commented on #60
Sorry, it was too long ago that I implemented this, I don't remember. Might have been on a list of questions.

[2015-06-29 16:15] dubiousjim commented on #58
I agree that this needs a robust fix. On my machine, I just changed to `return self.presenter(details.id_to_display_name_value.get(self.id_name, u'\u2014'))` as a work-around. The default `lambda` for `self.presenter` will then be a constant function that returns `None`. But that's just a work-around. I'll email you privately about examples.

[2015-06-29 16:19] dubiousjim commented on #59
Ehh, I don't want to publish my own copy of the repository just for a few tiny patches. I can email you patches if you prefer.

[2015-07-02 22:47] hista commented on #47
Hi Ivan,

Few months later is it fixed? I can of course test your fix if you
couldn't. Let me know!

Le 27/04/2015 03:10, IvanMalison a écrit :

[2015-07-03 05:32] IvanMalison commented on #47
I think I did SOME stuff to fix it, but ran in to an issue making in python2 and 3 compatible. I need to take a look at some other issues in the codebase this weekend so I can take a look at this again too.

[2015-07-05 19:30] mosesmc52 opened #61 "Search request not returning JSON"
Hi I'm executing I'm new to using okcupyd. I just executed this script below, but I'm receiving the following response
No handlers could be found for logger "okcupyd.search"

Would you know how I could programmatically configure the logger? Also would you have any insight into the issue.

Thanks,

Moses

[code]

[2015-07-05 19:33] IvanMalison commented on #61
This is just a warning message (see https://docs.python.org/3.1/library/logging.html). Are you getting a traceback? I suspect that your code is executing.

[2015-07-05 19:54] mosesmc52 commented on #61
Yes ,

Here is my traceback:

/Users/mosesmccall/.virtualenvs/love_machine/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#

[2015-07-05 19:58] IvanMalison commented on #61
This has nothing to do with logger warning that you are getting. It seems that the search request is not returning json. It may be that okcupid changed the search uri/request format. Let me take a look.

[2015-07-05 20:05] IvanMalison opened #62 "cache results of locquery"

[2015-07-05 20:09] IvanMalison commented on #61
Just tried things out and they are working for me.

Can you run this using the okcupyd command with the --enable-logger='okcupyd.search' flag set? and paste the output?

[2015-07-05 20:22] mosesmc52 commented on #61
So I'm running okcupyd within a shell with the library installed in a virtual environment. To execute the okcupyd command, do I need to install docker or can I run it from the shell? Would the command look like...

python [script_name]  --enable-logger='okcupyd.search'

[2015-07-05 20:33] IvanMalison commented on #61
You can also just add
[code]
to the beggining of your script.

[2015-07-05 20:47] mosesmc52 commented on #61
I enabled the logger and reran the script. It's really hard to capture the entire message because the html output. Here is the first lines, the rest is html folowed by the json error.

/Users/mosesmccall/.virtualenvs/love_machine/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from conf

[2015-07-06 03:55] IvanMalison commented on #61
hmmm. I need to see the contents of that failure object. Are you on osx? Can you just pipe the output to pbcopy or gist?

[2015-07-06 03:56] IvanMalison commented on #61
The warning you are getting is concerning as well. are you able to do anything else? Maybe logging in is failing silently in some strange way?

[2015-07-06 04:40] mosesmc52 commented on #61
Here is the entire output

Since I created a dummy test account, I used this username password.

u:marsarasaurus
p:okcupid123

For you to repeat the problem

2015-07-06 00:36:27 qed okcupyd.search[67676] INFO {"search_parameters": {"fromWhoOnline": "0", "locid": "4356642", "sort_type": "0", "filter1": "2,26,32", "filter3": "0,34", "filter2": "3,25", "ajax_load": 1, "count": 9, "discard_prefs": 1,

[2015-07-06 23:19] hista commented on #47
Thanks Ivan, please let me know when I can test your fix then.

Le 03/07/2015 07:32, IvanMalison a écrit :

[2015-07-08 23:12] mosesmc52 commented on #61
Hi Ivan,

Do you have any clue why the library is not work?

Thanks,

Moses

[2015-07-08 23:51] IvanMalison commented on #61
it has something to do with your account. doesn't happen on any of my accounts. Are you sure you've gone through all the confirmation steps?

[2015-07-09 22:44] mosesmc52 commented on #61
It's unusual issue. I'm don't understand. I searched the settings and couldn't find any issues.

Anyway, I created another account now everything works fine.

[2015-07-10 04:21] IvanMalison commented on #61
huh that is bizarre. Not sure why that happened. I also checked it myself on my machines and it happened for me as well.

[2015-07-10 14:06] mosesmc52 commented on #61
The only difference I noticed the new account has a different search interface. I'm not sure if that change contributes to the problems with the okcupyd library failing, because I assume the okcupid API remains the same.

[2015-07-10 19:50] IvanMalison commented on #61
oh that would probably do it.

okcupid does not have an api. This library works by sort of parsing the html returned by okcupid

[2015-07-10 19:50] #61 closed

[2015-07-10 20:23] hista commented on #47
Hi Ivan

Could you solve it this weekend?

Best regards

Le 03/07/2015 07:32, IvanMalison a écrit :

[2015-07-15 18:33] IvanMalison commented on #47
the problem is that i cant test from my home ip, which makes things pretty annoying right now (have to run everything on aws...

[2015-07-16 13:32] dubiousjim opened #63 "Support new okcupid.com json API"
Two days or so ago, search requests were working fine. Then all of a sudden they changed. Now:

    profiles = u.search(age_min=33,age_max=33,height_min=60,height_max=70,radius=10,last_online='month',order_by='match')
    for p in profiles:
        pass

produces a long exception trace ending with:

    .../site-packages/okcupyd/search.pyc in fetch(self, start_at, count)
        279

[2015-07-18 18:42] IvanMalison commented on #63
Seems like the same issue as #61 . It seems to happen for some accounts and not others.

Do you have any other accounts? Can you verify whether this is happening for those or not?

[2015-07-18 22:21] waffler commented on #63
I'm also getting this.

[2015-07-19 02:02] IvanMalison commented on #61
@mosesmc52 Other people are now reporting this issue. Take a look at #63 . I'm going to look in to this more deeply now.

[2015-07-19 02:05] IvanMalison commented on #63
Hmmm. Seems like they are slowly disabling the private json api for certain segments of users. Other than that I don't really have any guesses.

[2015-07-20 00:22] waffler commented on #63
I dug into this a little more and have something approximating a fix.

Replace [search.py line 281](https://github.com/IvanMalison/okcupyd/blob/25bb56d8b631e9b320f144b1a94dcccbee839fdd/okcupyd/search.py#L281) with:

`search_html = response.text    #WAS: search_html = response.json()['html']`

This prevents it throwing a horrible stacktrace on search -- but `profile.attractiveness` now seems to be

[2015-07-20 05:24] IvanMalison commented on #63
lol. looks like they realized that it was super dumb to send html inside of json.

Still, the way I would have done it would have been to send json data and then have the client assemble it into appropriate html. Some of the engineering descisions at okc just leave me shaking my head...

That has already been the case for non alist profiles for quite some time (ever since I made a chrome a chrome

[2015-07-21 07:04] IvanMalison commented on #63
Looking in to this today. I'll let you guys know what I find.

[2015-07-25 15:56] magbar commented on #63
Search still returns usable JSON info for users in DeferredJS.addBundles(), inside a bunch of js
You can use beautifulsoup to extract the relevant JSON for parsing

[2015-07-25 15:58] IvanMalison commented on #63
Yeah its probably that the uri/format/params changed. I'm sure its easy to fix, I've just been super busy recently.

[2015-07-25 21:40] IvanMalison commented on #63
@magbar @waffler @mosesmc52 @dubiousjim @sagittarian Okay I'm actually looking in to this today.

[2015-07-26 09:58] IvanMalison commented on #63
So it looks like okcupid has finally done the sane thing and moved to a real json api. The good news is that this is much easier to deal with than the html they were sending along before! The bad news is that this means pretty significant code changes need to be made, as they have also changed the way that the api is queried.

Here is a sample json response:

[code]

[2015-07-26 14:01] dubiousjim commented on #63
Well, a pain to fix but it's good that the target is so clean and still accessible. Any idea why this was only affecting some accounts and not others?

[2015-07-26 19:25] IvanMalison commented on #63
Maybe some type of A/B testing, where certain users are only allowed to use the new api?

[2015-07-27 12:53] mosesmc52 commented on #63
That was my first thought as well.

[2015-07-27 12:56] dubiousjim commented on #63
Right, so will a fix have to continue to implement the current search interface as well as the one they're gradually replacing it with?

[2015-07-27 17:40] IvanMalison commented on #63
@dubiousjim Not necessarily. The only thing we've seen so far is the old interface being disabled (not the new one). I'll do some investigation when I implement the feature, but it is possible that we will have to maintain both interfaces.

[2015-07-28 07:39] IvanMalison opened #64 "Add questions model and allow storage of questions in the database"

[2015-07-28 10:40] IvanMalison commented on #63
I would really appreciate some help writing all of the filters all over again. I've built the framework for doing this again, so it really should just be a matter of seeing where stuff has changed and putting it into the new (very declarative framework):

I'm putting everything in https://github.com/IvanMalison/okcupyd/blob/master/okcupyd/search_filters.py for now (its not quite going to work yet,

[2015-07-28 18:38] claydegruchy opened #65 "user.inbox.messages gives short output"
Real simple in:

user = okcupyd.User()

first_thread = user.inbox[0]
print(first_thread.messages.id)

It seems to only put out something like:

<Fetchable[Message][<Message: Senderman sent Otherperson "I have ter...">, ...]>

Is this a limitation or am I missing something?

Cheers friend.

[2015-07-28 19:12] IvanMalison commented on #65
read the docstring for fetchable

[2015-07-28 19:12] IvanMalison commented on #65
also things might be broken right now

[2015-08-04 03:57] waffler commented on #63
If you can document what the Filter interface looks like (what `transform` is supposed to take and return, and what goes into `acceptable_values`) plus what filters need writing, I might be able to help with this at some point.

There are so many levels of indirection in how the filters are built and used that it's hard for me to wrap my head around what's actually going on.

[2015-08-04 05:41] IvanMalison commented on #63
Take a look at:
http://okcupyd.readthedocs.org/en/latest/core.html#okcupyd.filter.Filters.register_filter_builder

but keep in mind that:
a) I just made some major tweaks to that class so it tells the story in a sort of strange way
b) I just made a new, better (in my opinion) interface to all of this

The better interface that I am talking about is the declarative one used by the `GentationFilter`

[2015-08-04 05:50] IvanMalison commented on #63
@waffler if you find the filter stuff too confusing, you could also try writing a class that parses the new result json.

I like to keep classes and functions in okcupyd pretty small, so writing literally a function/class that takes
[code]

and spits out a `Profile` object might be a good place to start.

With all of that said, there is more labor to be done with the filter stuff. And your help wo

[2015-08-04 05:50] IvanMalison commented on #63
@dubiousjim sorry to call you out specifically but any interest in helping?

[2015-08-04 06:44] dubiousjim commented on #63
Sure, I will try to contribute.
--
dubiousjim@gmail.com

[2015-08-04 06:46] IvanMalison commented on #63
@waffler Another point of clarification:
There are a bunch of existing filter functions that take in an argument, translate that argument, and then output it along with a prefixed number. Here is an example:

[code]

The prefix number (22) is basically the way that okcupid used to identify certain filters as query params. Because they actually all used to come in as the params '?filter1=22,451&fil

[2015-08-04 07:14] IvanMalison commented on #65
Were you able to figure this out:
http://okcupyd.readthedocs.org/en/latest/okcupyd.util.html?highlight=fetchable#module-okcupyd.util.fetchable

Let me know if i can close

[2015-08-04 08:19] claydegruchy commented on #65
Hey, I didnt end up sorting this out but only I started python a week ago
so don't stress about what I think.

On 4 August 2015 at 08:14, IvanMalison <notifications@github.com> wrote:

--
Clay DeGruchy.

[2015-08-04 09:57] claydegruchy commented on #65
Scratch that, I just looked into it again then. seems I wasnt putting the
right elements in.

I was using
okcupyd.user.User(session).inbox[0]

which was only returning the title of the inbox. but what i really needed
was

okcupyd.user.User(session).inbox[0].messages[0].*content*

which returns the full message.

thanks for your help.

On 4 August 2015 at 09:18, GeDruchy . <clay.degruchy@gmail.com>

[2015-08-04 10:02] IvanMalison commented on #65
Cool, glad I could help.

[2015-08-04 10:02] #65 closed

[2015-08-04 15:36] dubiousjim commented on #63
Have looked over the docs for Core Obects/Filter, the changeset "start refactor of filters...", and the above. I have some understanding of what's going on, though like waffler, parts are still fuzzy for me. Here are some questions that might help, if they're easy to answer. Perhaps I'll stumble upon the answers to some of these myself.

1. At first, I was wondering, wtf is package `six`? But I lo

[2015-08-05 03:36] dubiousjim commented on #63
OK, have read more code and have more questions.

First, Ivan makes the following remark above:

This confuses me a bit, because it suggests that there is some connection between the move to the class interface for filters and the new search API. But if I understand correctly, we don't yet have any code for accessing the new search API. Ivan, can you clarify what you are envisaging the connection

[2015-08-05 06:17] IvanMalison commented on #63
Yeah, you are right, there isn't really a significant connection between the two except that as I was looking at the code that needed to be rewritten I wanted to try out this class based approach because I thought the interface would be easy to explain. It's starting to seem like that was a bit of a mistake because of all of the confusion that its causing. I wasn't expecting anyone to probe so dee

[2015-08-05 13:57] dubiousjim commented on #63
Ok, I forked the repo, and have locally made patches for most of the little things above. (Also for the round of patches I emailed you directly on June 29.) I'll submit pull requests for these sometime.

I've also locally made proto-versions of class implementations of all the old filters. I haven't yet gone through and made sure that the output and keys conform to the new search API. I realized a

[2015-08-05 17:20] IvanMalison commented on #63
Yeah. I think we should probably just have a totally separate Filters instance for the new filters.

That's not totally unreasonable, but I was thinking that we would just try except or something like that to start out with.

I use chrome developers tools. There is definitely a lot of noise that you have to sift through.

That means that your account is on the old api. You'll need an account that

[2015-08-06 04:10] dubiousjim commented on #63
Figured out how to sniff traffic. You're right, I needed to use a different account. I'll post a comprehensive survey of the new json request API, at least those parts of it I can access without an A-list account. Some of the search criteria available in the old API are now no longer provided by the web interface; it's possible that they're still reachable by sticking other values into the request

[2015-08-06 05:07] dubiousjim commented on #63
The basic fields look something like this:

WOMEN who are interested in MEN ages 30-50 located within 10 miles of SAN FRANCISCO, CA online WITHIN THE LAST MONTH

* The "within the last ..." criterion is easy, this just sets the field
"last_login" in the request to an int. I presume the int value is the computed the same as in the old search API, but haven't verified that.

* The location criteria

[2015-08-06 06:26] IvanMalison commented on #63
@dubiousjim Awesome. Thanks for doing all of that.

This is true, but I think that the current interface could actually support this, because you CAN define multiple filter_builders that take the same key.

With that said, I think it might just be better to change the interface as you suggested.

[2015-08-06 06:31] dubiousjim commented on #63
Oh good, maybe just having multiple filters taking overlapping keys as arguments, but each dedicated to its own output key, would be a good solution. I didn't think of that.

[2015-08-06 06:48] IvanMalison commented on #63
So I guess we should just get cracking on this then. Do you know how to use vcrpy/use_cassette and rerecord cassettes. We're going to want to do that as we restore functionality.

[2015-08-06 06:49] IvanMalison commented on #63
We might need to rewrite some of the tests as well.

[2015-08-06 07:17] dubiousjim commented on #63
Nope

[2015-08-06 07:47] IvanMalison commented on #63
It's actually really simple. I made invoke tasks to rerecord the requests. rerecording the tests will actually make live requests to okcupid.com using provided credentials. The tests will be executed a second time after that where all of the occurrences of username and password in the requests will be scrubbed. You just need to make sure that both runs of the tests go through so you dont accidenta

[2015-08-07 07:23] IvanMalison commented on #64
https://gist.github.com/9436f06834aa7c38feea

[2015-08-07 18:33] IvanMalison commented on #63
I finished writing the fetcher and the request builder, although I can't get the tests to pass yet because it need to send some authorization token along with the request.

All that's left now is to rewrite all the filters.

[2015-08-10 02:43] IvanMalison opened #66 "Use yaml for credentials files instead of .py"

[2015-08-10 21:17] dubiousjim commented on #63
I've drafted the filters, but it's just a sketch at this point, not code I expect to run much less pass tests. Currently am still working on digesting the code in util, filter, *_search. I'm getting it, but all the magic really does make it take some effort. Have some questions below. Am hoping someone else will write tests, I really can't spare enough time to figure out how the test system works.

[2015-08-10 23:01] dubiousjim commented on #63
The above questions were edited/expanded after the initial posting. Here are some more questions, all at least loosely associated with the new file `json_search.py`.

* In `html_search.py` there's a function `search(session, count=1, **kwargs)` that starts everything going. But there doesn't seem to be any parallel in `json_search.py`. Should there be?
* As far as I can see, we now are creating th

[2015-08-10 23:13] IvanMalison commented on #63
Haha. I'm sorry that the magic is so confusing. The idea is that it makes the interfaces nice, but it does make the code somewhat complicated. If you have suggestions about how to make the documentation better or make the code easier to understand, I'm all ears.

That's fine, but you can always write unit tests on the filter instances pretty easily (as in tests/search_filters_test.py).

`cached_pr

[2015-08-10 23:16] dubiousjim commented on #63
No, not trying to audit everything. Just the parts I felt I needed to overcome confusion about to write the new filters. There's a lot of interdependencies.

[2015-08-10 23:18] dubiousjim commented on #63
So if we declare new `decide` functions (these are needed), and perhaps change the old `decide` functions to the new API (not needed, but might make the code more comprehensible in the future), they should be declared without the `cls` parameter?

[2015-08-10 23:19] IvanMalison opened #67 "Investigate whether there are additional changes to okcupid.com's private API"
I imagine that there may be additional changes to okcupid.com's private api that are similar to the one described in #63. Some investigation is needed to determine whether these changes exists and what needs to be done to allow okcupyd to support these changes.

[2015-08-10 23:22] IvanMalison commented on #63
That is actually not used directly by anything except maybe the attractiveness finder, I believe. Everything should really use SearchFetchable.

Yeah, we will have to look in to whether or not this part of the private api changed. There are a few other places where I think they might have made additional changes to the private API. I've created #67 to track the process of investigating this.

Yeah

[2015-08-10 23:37] dubiousjim commented on #63
Will it work to have a filter say, e.g.:

    class SomethingFilter(search_filters.filter_class):
        ...
        decide = search_filters.any_not_none_decider

or will that get screwed up by the implicit `@staticmethod` decoration in the filter, getting applied to `any_not_none_decider` which has *already* been so decorated?

[2015-08-10 23:38] IvanMalison commented on #63
As the code is currently written, yes. You can still explicitly make things classmethods if you want (if you needed access some of the other parameters in either transform or decide. We'll need to change the way we inspect signatures to do this but that should be easy. The following test illustrates this.

[code]

[2015-08-10 23:46] IvanMalison commented on #63
That would work (because search_filters.any_not_none_decider is actually a staticmethod type of the filters instance, not the something filter) except that the build method assumes that all deciders are modernized (i.e. don't take three arguments but just one). Since the decider would need access to the keys of that class, there should probably be some static definition of a classmethod version of

[2015-08-10 23:49] IvanMalison commented on #63
@dubiousjim does the `util.decorate_all` subtlety make sense to you now?

[2015-08-11 00:12] dubiousjim commented on #63
Thanks Ivan, I grok `decorate_all` itself, and this is helping me with the `decide` methods, which are some of the trickiest parts of the code to master (and I do need to invoke non-default ones, and define some new ones). So would it make sense for us to declare all the factory `blah_decider` methods on class `Filters` as `@classmethod`s? Would it also make sense for us to modify `Filters._handle

[2015-08-11 01:05] IvanMalison commented on #63
They can't be declared on Filters as classmethods, because when you access them like

`Filters.any_not_none` or `filters_instance.any_not_none` they will already be bound to the filters class at that point. We want the cls variable to get bound to the Filter (not Filters) instance, so we need the classmethod decorated function to still be in raw descriptor form.

I know you arent the biggest fan o

[2015-08-11 15:52] dubiousjim commented on #63
OK, have a look at https://github.com/dubiousjim/okcupyd/commits/filters

[2015-08-11 18:41] IvanMalison commented on #63
See #68 For comments.

[2015-09-09 01:37] okuser commented on #63
Any progress on this issue?  I am getting the same problem: `JSONDecodeError: Expecting value: line 3 column 1 (char 3).` when executing a simple test:
[code]

[2015-09-09 03:57] IvanMalison commented on #63
there is progress but we need help

[2015-09-09 04:18] okuser commented on #63
What would be useful?  I'm not really familiar with the okcupyd code, but I know Python reasonably well.

[2015-09-09 04:59] IvanMalison commented on #63
Well for starters https://github.com/IvanMalison/okcupyd/pull/68 needs to be finished

[2015-09-12 21:17] IvanMalison opened #70 "Support all filters available in the new json search api"
@dubiousjim started work on this #68, but that branch needs to be cleaned up quite a bit

Available filters:

- [ ] order_by
- [x] gentation
- [ ] gender_tags
- [ ] orientation_tags
- [ ] age_recip
- [ ] answers
- [ ] availability
- [ ] children
- [ ] drinking
- [ ] drugs
- [ ] education
- [ ] ethnicity
- [ ] gender_tags
- [ ] gentation
- [ ] i_want
- [ ] interest_ids
- [ ] languages
- [ ] last_lo

[2015-09-12 21:21] IvanMalison commented on #63
Hey guys: I'm happy to report that as of today okcupyd now partially supports the new json api!

A bunch of work remains to get it to support all of the available filters, and that is being tracked in #70. Since this is going to be a massively breaking change, it will only be released officially as part of v1.0.0. I'm thinking about putting out a beta so people can install this, but I dont want to

[2015-09-12 21:21] #63 closed

[2015-09-13 05:34] IvanMalison commented on #61
Hey @mosesmc52 Just thought I'd let you know that this issue has now been resolved in the new alpha version of okcupyd.

[2015-09-14 07:30] okuser commented on #63
Fantastic!  Thanks a lot.  It already supports the features that I'm looking for at the moment.

[2015-09-14 17:23] IvanMalison commented on #63
@okuser Are you sure? Literally the only filters that work right now are Age and gentation. See #70

[2015-09-28 02:49] brandonsturgeon commented on #67
Ugh. Why are they so against us using an API? Sure, bad things will be made with it, but bad things will be made _without_ it, too. They're only hindering our ability to make cool things..

[2015-10-28 01:21] IvanMalison opened #72 "Figure out a better way to manage passing the location cache to SearchFetchable"
Currently the location_cache object is required to perform location searches. In order to avoid instantiating a bunch of these, it actually needs to be passed to the SearchFetchable in order for any location searches to function.

It might be better to automatically create a new one if none is provided. At the very least, an exception should occur if location is passed but no location cache is ava

[2015-10-28 07:08] IvanMalison commented on #62
This was handled in the new location search functionality

[2015-10-28 07:08] #62 closed

[2015-11-29 17:21] Ximzend57 opened #73 "Typo in json_search.py"
How do I change a typo?

[2015-11-29 17:28] IvanMalison commented on #73
File a pull request?

[2015-11-29 18:24] Ximzend57 commented on #73
I'm new at github and only know how to issue something.

[2015-11-29 18:44] Ximzend57 commented on #73
Filed a pull request. Hope I did it the right way.

[2015-11-29 18:44] #73 closed

[2015-12-22 00:25] scientist7 opened #75 "Error: ImportError: cannot import name ColoredStreamHandler"
Hi,

After a:

    pip install okcupyd==1.0.0a2

When I do:

    import okcupyd

I get this error:
    Traceback (most recent call last):

    File "<ipython-input-1-6450ba7d2558>", line 1, in <module>
    import okcupyd

    File "C:\Users\Ben\Anaconda2\lib\site-packages\okcupyd\__init__.py", line 9, in <module>
    from . import tasks

    File "C:\Users\Ben\Anaconda2\lib\site-packages\okcupyd\t

[2015-12-22 02:30] IvanMalison commented on #75
Caused by:

https://github.com/xolox/python-coloredlogs/commit/52f6dd0f2fe8b4a5fac874e3925b75f2c511dd80

Should be fixed by pinning coloredlogs for now, but we should probably move to the new interface.

[2015-12-25 18:55] IvanMalison commented on #75
This should be fixed. Can you verify?

[2015-12-25 18:55] #75 closed

[2015-12-25 21:08] scientist7 commented on #75
That works.  Thank you!

[2016-01-07 04:11] kfred opened #76 "Profile.contacted, etc not working"
I'm loving this library, despite most features not working. But the search alone, as limited as it is, is prettty awesome.

One thing I would like to point out is the broken profile.contacted feature. I'll admit that I have not looked much at all into your code base, but assume that feature was using HTML to retrieve that assignment, and it appears JSON was returning a last_contacted value.

The r

[2016-01-07 12:06] IvanMalison commented on #76
Yeah, as you've notice, the UI rehaul the site has recently undergone has left okcupyd in a pretty broken state.

It seems like you are talking about populating a json value returned from search. This is fine, a good idea even, but you should realize that the canonical way that the value is retrieved from a profile is not from a value from search, but obtained through something returned from the u

[2016-01-07 12:10] IvanMalison commented on #76
Yeah if you wanted to add a feature that added the search metadata to the profile, I wouldn't necessarily object to that. That would be as simple as

[code]

[2016-01-07 20:07] kfred commented on #76
Cool. Thanks for the background. I will do some more research into the areas you have highlighted in my nightly downtime. And look to update the profile.contacted code. I might stick with the HTML variant for now, but am interested in learning how to achieve it either way.

I definitely agree on using HTML to fetch much of this data, particularly essay data, which hopefully should be straightforwa

[2016-01-07 23:17] IvanMalison commented on #76
Yeah this is the better way to do it since it works if for instance you obtain the profile by looking through an incoming message...

In my experience they change about bi annually, so we shoudl be able to get a decent bit of milage out of updating the selectors that we're using.

This is also subject to change though, and again, only works for search results.

[2016-01-17 19:10] kfred commented on #76
I just submitted a pull request that fixes the following profile features:

profile.contacted, profile.age, profile.liked, profile.match_percentage, profile.enemy_percentage

I encountered an issue with profile.location. not sure what's going on with the page layout, but the selector is not being recognized, despite its similarity to profile.age (which i was able to fix).

[2016-01-17 19:17] kfred commented on #76
The new way OKC shows last contacted date on the profile will require some normalization:

if message occurred less than 7 days ago, only day of week is shown
if last message occurred in current year, then year is omitted

[2016-01-18 21:31] kfred commented on #76
I also fixed profile.id and took a stab at fixing essays.py, to no avail.

Something odd is happening with some of the text elements on OKC not being returned through text_contents().

[2016-01-18 21:48] kfred opened #78 "OKC IP throttling issues"
I'm finding that I have been getting throttled. I have a hotspot shield, so once my scripts stop running, I disconnect then reconnect and activity continues; however, it only lasts for so long before it gets throttled again.

Confirmed it's IP- and not account-based, as I've successfully logged into and used the app on my phone over cellular connection while my account connected on my home network

[2016-01-18 21:55] IvanMalison commented on #76
thanks! I'll take a look soon.

[2016-01-18 22:00] IvanMalison commented on #78
the browser header isnt the issue, i think youd just need to do some type of rate limiting to avoid this. We have something built in that handles this https://github.com/IvanMalison/okcupyd/blob/master/okcupyd/session.py#L53

[2016-01-18 22:03] kfred commented on #76
Cool. So, I did fix profile.id in my fork, but it's in a commit with my (failed) attempt at fixing essays. My fork is synced with my local, but I have not yet submitted a pull request for it.

[2016-01-18 22:05] kfred commented on #76
Some of OKC's UI changes seem to have been done in a deliberate attempt to make scraping more difficult (as you'll notice when looking at some of the updates, particularly essays).

[2016-01-18 22:07] kfred commented on #78
Ah, cool, thanks. I'll check that out.

[2016-01-18 22:24] kfred commented on #78
Cool, testing varying rate_limit's now. Nice feature.

[2016-01-18 22:24] #78 closed

[2016-01-18 23:41] IvanMalison commented on #76
@kfred hah thats interesting. I think that may be a direct response to okcupyd. They definitely know about it and have blocked my ip several times. I haven't looked at what they have done, but im sure there is a way around it.

[2016-01-19 01:34] kfred commented on #76
Haha, they've got you on their watchlist! Oh man, I hope none of OKC's lackeys show up at my door with baseball bats!

[2016-01-19 01:58] kfred commented on #76
My latest commit (in my forked repo), contains a profile.plocation function, which demonstrates how the profile.location fix could be applied (sans current profile.location dependency conflicts)

[2016-01-23 04:37] Ryan-Holben opened #79 "ImportError: cannot import name cli"
When simply running 'import okcupyd', I get:

[code]

My pip freeze is:
[code]
I tried this with the non-alpha version of okcupyd as well.

[2016-01-23 05:43] ThreeCorners commented on #79
Nevermind, it just exists in the alpha version, and commenting out fixes it!

[2016-01-23 19:18] IvanMalison commented on #79
no this is real issue, the problem is that invoke changed its import structure. The solution is to just remove the import.

[2016-05-20 19:43] ageis opened #82 "Error in JSON search"
Using 1.0.0a3.

Given a very simple search:

[code]

I get this back from OKCupid:

`{"error" : {"message" : "missing json value.", "type" : "ParseJSON"}}`

And the following traceback:

[code]

[2016-05-20 20:24] IvanMalison commented on #82
Hmmm. They probably update their api again. I would using chrome developer tools to see what the search json request looks like. Its probably just a matter of sending along some additional parameters in the request body.

[2016-06-29 03:55] kingyakshaver commented on #79
hmm this sucks. Whats the ETA?

[2016-06-29 04:13] Ryan-Holben commented on #79
I don't think it's been changed since I mentioned it last, but again, easy fix; just comment out that import.

[2016-06-29 04:21] IvanMalison commented on #79
yep, actually, I think that Invoke finally has the functionality that I had hoped for, so we can make the okcupyd binary just call out to it and use all of its tasks

[2016-07-11 07:36] A5HRAJ commented on #79
I commented out `from invoke import cli as invoke` to fix the error, but now I get a different issue:

`Traceback (most recent call last):
  File "/usr/local/bin/okcupyd", line 7, in <module>
    from okcupyd import interactive
  File "/usr/local/lib/python2.7/site-packages/okcupyd/__init__.py", line 8, in <module>
    from . import tasks
  File "/usr/local/lib/python2.7/site-packages/okcupyd/task

[2016-07-11 17:15] IvanMalison commented on #79
yeah, I have a fix for this.

[2016-07-13 15:15] #79 closed

[2016-07-13 20:03] #82 closed

[2016-07-13 20:03] IvanMalison commented on #82
@ageis can you give this a spin and see if the new version fixed this?

[2016-07-13 20:06] ageis commented on #82
@IvanMalison Nope, same error, just the URL is different and has the /1/ in it.

[2016-07-13 20:06] IvanMalison commented on #82
how did you test it so fast?

[2016-07-13 20:07] ageis commented on #82
@IvanMalison lol, I'm just fast. I got the e-mail notification, have your repository on my computer and I git pulled and ran `python setup.py install` and then triggered my script.

[2016-07-13 20:07] IvanMalison commented on #82
hmmm weird. i was getting this error before and now I'm not getting it with these new commits.

[2016-07-13 20:08] IvanMalison commented on #82
oh wait can you try search without any of the params

[2016-07-13 20:08] IvanMalison commented on #82
You're still getting {"error" : {"message" : "missing json value.", "type" : "ParseJSON"}}

[2016-07-13 20:09] IvanMalison commented on #82
?

[2016-07-13 20:10] IvanMalison commented on #82
@ageis Oh I figured it out. order_by needs to be uppercased. I'll make a change to the filters to upcase it for you

[2016-07-13 20:14] IvanMalison commented on #82
@ageis let me know if that works for you

[2016-07-13 20:16] ageis commented on #82
@IvanMalison My error is still:
[code]

Is there anything wrong with the code in the original post?

[2016-07-13 20:22] IvanMalison commented on #82
[code]

[2016-07-13 20:23] IvanMalison commented on #82
maybe it has to do with pagination? can you run okcupyd as
[code]

[2016-07-13 20:24] IvanMalison commented on #82
or ideally
[code]

[2016-07-13 20:41] ageis commented on #82
@IvanMalison I really don't know what the deal is. I can't use tox here cause my tox (Debian sid) is for Python 3. I'm having what seems to be some more success with the search when using okcupyd on the command line instead of in a custom script, but I'm struggling with some type errors and other stuff.

When I do the same exact search, I get back a list with one profile in it. That doesn't seem r

[2016-07-13 20:57] IvanMalison commented on #82
not if there aren't 10 matches.

[2016-07-13 20:57] IvanMalison commented on #82
try running a search with fewer restrictions.

[2016-07-13 21:09] ageis commented on #82
Getting one profile result no matter what, even if `age_min` and `age_max` are the only parameters.

[2016-07-31 17:22] odkken opened #84 "Search no longer works (404), login may be broken as well"
Seems logging in now returns a
status_str: 'Sorry, Staff Robot had a meltdown—check back later'
(not sure if this matters, login still seems to technically work)

On performing a search (from the example search.py), a 404 error is always returned.

[2016-08-03 17:38] IvanMalison commented on #84
Here is the relevant traceback

[code]

The request that is failing is actually the request to get the location ID. It seems that this endpoint has been expired.

[code]

We need to figure out if this just been completely eliminated or changed in some way.

[2016-08-04 23:08] IvanMalison opened #85 "Add Location To Default Search Again"
[code]

[2016-08-04 23:24] IvanMalison commented on #84
This should be fixed now. Can you confirm @odkken .

[2016-08-05 04:04] odkken commented on #84
Did a fresh clone and am actually seeing issue #79 again now.  I think I had commented out the imports before, but since I see it's been reported I figured I'd bring it up.

Also, I'm having trouble installing the requirements (looks like it has to do with the ~= version specification?) using pycharm's auto install feature.  I think it was trying to use anaconda on windows, and on linux it's using

[2016-08-05 05:13] colonelpanic8 commented on #84
@odkken you shouldn't be getting #79 on the latest version since the line that was causing it is gone from the repository.

[2016-08-06 18:59] odkken commented on #84
Here's the stack trace I get when running the search:

Traceback (most recent call last):
  File "/root/okc2.7/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py", line 2869, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-a243ab043907>", line 4, in <module>
    import okcupyd
  File "/home/moltar/pycharm-community-2016.2/helpers/pydev/_py

[2016-08-07 08:30] colonelpanic8 commented on #84
its probably importing it from the wrong place. or maybe getting the tasks list from the wrong place, or perhaps you have an old version of invoke.

Don't clone okcupyd like that

you should install it with the command mentioned in the README (unless your plan on actually developing it yourself).

[2016-08-08 21:54] joh1686 opened #86 "Can't delete messages"
Hi, maybe I got something wrong but I am not able to delete messages:

[2016-08-08 22:42] colonelpanic8 commented on #86
hah, yeah this has been popping up all over the place.

Seems like okcupid.com rehauled their private api.

[2016-08-09 12:47] joh1686 commented on #86
Thanks Ivan, for now I am using (my terrible) JS:
window.confirm = function (e) {
        return true;
    };

for (var i in document.getElementsByClassName("quickdelete_link")){
     document.getElementsByClassName("quickdelete_link")[i].click()
}

I might try fixing it later.

[2016-08-09 19:14] colonelpanic8 commented on #86
yeah, all you would need to do is look at the request that that is generating and update okcupyd accordingly

[2016-10-17 00:47] bearsoup opened #87 "Search returns IndexError"
Thanks for making this available and for your continued work to get okcupyd functioning again. I should note before I continue that I'm not super well-versed in Python, but I do have a working knowledge of it. So thanks for your help and patience.

I've been working with some of the basic examples, but some things seemed to have stopped working in the past week or so. I noticed that as of recently

[2016-10-18 02:36] colonelpanic8 commented on #87
It looks like they probably updated the position of the gender in the website.

It recently occured to me that okcupid MUST have a private api that they use for their mobile apps, so I think I'm going to try to migrate that when trying to get some of these details.

[2016-10-23 18:41] CrazySyntax opened #88 "user.search() returns IndexError: list index out of range"
Hi,

I used the example in the documentation:

[code]

and I got the following error message:

[2016-10-23 18:41] CrazySyntax commented on #87
I also encountered this issue.

[2016-10-23 18:42] #88 closed, assigned to nobody

[2016-10-23 20:17] CrazySyntax opened #89 "function okc_post() is not defined in the repository"
Hi,
I saw that the code uses several times the function okc_post. I searched for this function name repository, and I didn't find this function definition (something like def okc_post(...)). Can you show me this function?

[2016-10-23 20:32] colonelpanic8 commented on #89
Yeah thats because its defined through meta programming

https://github.com/IvanMalison/okcupyd/blob/46f4eaa9419098f6c299738ce148af55c64deb64/okcupyd/session.py#L139

[2016-10-23 20:32] #89 closed, assigned to nobody

[2017-02-14 22:27] eklitzke opened #90 "No GH syntax highlighting for README.md"
Pandoc is generating markdown that differs from GitHub-flavored markdown. In particular, it's not using the correct GH-flavored markdown for syntax highlighting.

Interestingly, just deleting the README.md file (and retaining the README.rst file) fixes this issue, see https://github.com/eklitzke/okcupyd/tree/syntax

Pandoc also supports GH-flavored markdown, using the type `markdown_github` instea

[2017-04-24 02:58] michaelmyc commented on #87
When would the update be available? I am encountering this issue and is desperate to try to solve it.

[2017-04-24 03:10] colonelpanic8 commented on #87
@tydlwav I honestly don't have plans to fix it myself, but I would welcome pull requests.

If you just want to try to get something working. You might want to try removing the gender[0] line. I suspect that search might still work.

[2017-04-24 03:16] michaelmyc commented on #87
I'll see if I can find a way to get it to work. Thanks, though.